{% extends 'base.html' %}

{% block title %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
<h1>Edit Your Blog Post:</h1>

<hr>

<div class="jumbotron">
<form action="/posts/edit/{{ post.id }}" method="POST">
    <div class="form-group row">
      <label for="staticTitle" class="col-sm-2 col-form-label">Title:</label>
      <div class="col-sm-10">
        <input type="text" name="title" class="form-control"  name="title" id="title" value="{{ post.title }}">
      </div>
    </div>
    <div class="form-group row">
      <label for="content" class="col-sm-2 col-form-label">Content:</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="content" id="content" >{{ post.content }}</textarea>
      </div>
    </div>
    <div class="form-group row">
        <label for="author" class="col-sm-2 col-form-label">Author:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="author" id="author" value="{{ post.author }}">
        </div>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
<hr>

{% endblock %}